cursos/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><title>Curso de C | Michell Ayala</title><script data-require="prefixfree@*" data-semver="1.0.7" src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script><link data-require="normalize@*" data-semver="3.0.1" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css"><link data-require="normalize@*" data-semver="3.0.1" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"><link href="http://fonts.googleapis.com/css?family=Cabin|Montserrat|Nunito|Roboto" rel="stylesheet" type="text/css"><link rel="stylesheet" href="css/styles.css"><script src="script.js"></script></head><body><nav class="Nav"></nav><h2 class="Nav-return"></h2><a href="http://michelayala.github.io/index.html" class="Nav-returnLink">Inicio</a><section class="Main"><h1 class="Main-title">Cursos</h1><a href="http://michelayala.github.io/c/index.html" class="Main-link"></a><article class="Main-course"><figure class="Main-figure"><img src="" alt="" class="Main-image"><figcaption class="Main-figcaption"><h3 class="Main-figcaptionTitle">Lenguaje C</h3><p class="Main-figcaptionDescription">Uno de los lenguajes de programación más importantes de la historia.</p></figcaption></figure></article><article class="Main-course"><figure class="Main-figure"><img src="" alt="" class="Main-image"><figcaption class="Main-figcaption"><h3 class="Main-figcaptionTitle">HTML</h3><p class="Main-figcaptionDescription">Lenguaje de etiquetas de hiper texto, beibe.</p></figcaption></figure></article><article class="Main-course u-inactive"><figure class="Main-figure"><img src="" alt="" class="Main-image"><figcaption class="Main-figcaption"><h3 class="Main-figcaptionTitle">C++</h3><p class="Main-figcaptionDescription">C con esteroides. Algo completamente nuevo y descomunal.</p><span class="Main-label">PROXIMAMENTE</span></figcaption></figure></article><article class="Main-course u-inactive"><figure class="Main-figure"><img src="" alt="" class="Main-image"><figcaption class="Main-figcaption"><h3 class="Main-figcaptionTitle">SQL</h3><p class="Main-figcaptionDescription">Bases de datos basados en el Lenguaje Structurado de Consultas</p><span class="Main-label">PROXIMAMENTE</span></figcaption></figure></article></section><footer class="Footer"><p class="Footer-description">Michel Ayala - 2015</p></footer></body></html>

cursos/jade/index.jade
doctype html
html
	head
		meta(charset="utf-8")
		title Curso de C | Michell Ayala
		script(data-require="prefixfree@*", data-semver="1.0.7", src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
		link(data-require="normalize@*", data-semver="3.0.1", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css")
		link(data-require="normalize@*", data-semver="3.0.1", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(href="http://fonts.googleapis.com/css?family=Cabin|Montserrat|Nunito|Roboto", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="css/styles.css")
		script(src="script.js")

	body
		nav.Nav
		h2.Nav-return
		a(href="http://michelayala.github.io/index.html").Nav-returnLink Inicio

		section.Main
			h1.Main-title Cursos
			a(href="http://michelayala.github.io/c/index.html").Main-link

			article.Main-course
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle Lenguaje C
						p.Main-figcaptionDescription Uno de los lenguajes de programación más importantes de la historia.

			article.Main-course
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle HTML
						p.Main-figcaptionDescription Lenguaje de etiquetas de hiper texto, beibe.

			article.Main-course.u-inactive
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle C++
						p.Main-figcaptionDescription C con esteroides. Algo completamente nuevo y descomunal.
						span.Main-label PROXIMAMENTE

			article.Main-course.u-inactive
				figure.Main-figure
					img(src="" alt="").Main-image
					figcaption.Main-figcaption
						h3.Main-figcaptionTitle SQL
						p.Main-figcaptionDescription Bases de datos basados en el Lenguaje Structurado de Consultas
						span.Main-label PROXIMAMENTE

		footer.Footer
			p.Footer-description Michel Ayala - 2015
